/* ===========================================================

    Atoms - Radio

    Global radio styling used throughout the site


    1. If the browser cuts the mustard hide the default input element
    2. If the browser cuts the mustard show the custom radio and style it up
    3. If the browser cuts the mustard style the radio icon 

=========================================================== */

.a-radio {

}

.a-radio__input {
    float: left;
    margin: 0 $un-xxxs 0 0;
    width: auto;

    // 1
    @supports (transition: stroke-dashoffset) {
        @include visually-hidden();
    }
}

.a-radio__label {
    display: inline-block;
}

.a-radio__box {
    display: none;

    // 2
    @supports (transition: stroke-dashoffset) {
        border: em(2px) solid $co-grey-2;
        border-radius: 100%;
        display: inline-block;
        height: $un-sm;
        margin-right: $un-xxxs;
        position: relative;
        transition: border-color $ut-speed $ut-timing-func-1, box-shadow $ut-speed $ut-timing-func-1;
        vertical-align: middle;
        width: $un-sm;
    }
}

.a-radio__icon {
    // 3
    @supports (transition: stroke-dashoffset) {
        background-color: $co-dark-1;
        border-radius: 100%;
        height: em(14px);
        left: 50%;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
        transition: opacity $ut-speed $ut-timing-func-1;
        width: em(14px);
    }
}


/* ===========================================================

    Atoms - Radio Modifiers


    1. Checked state
    2. Focus state

=========================================================== */

// 1
.a-radio__input:checked + .a-radio__label {
    .a-radio__icon {
        @supports (transition: stroke-dashoffset) {
            opacity: 1;
        }
    }
}

// 2
.a-radio__input:focus + .a-radio__label {
    .a-radio__box {
        @supports (transition: stroke-dashoffset) {
            @include focus-outline();
            border-color: $co-primary;
        }
    }
}