/* ===========================================================

	Settings - Unit

	Global website unit variables


    1.

=========================================================== */

$un-xxxxs:              em(5px);
$un-xxxs:               em(10px);
$un-xxs:                em(15px);
$un-xs:                 em(20px);
$un-sm:                 em(30px);
$un-md:                 em(40px);
$un-lg:                 em(50px);
$un-xl:                 em(60px);
$un-xxl:                em(80px);
$un-xxxl:               em(100px);
$un-xxxxl:              em(120px);

$un-focus:        		em(4px);
$un-radius:             em(2px);
